02_Validacion_Nombre.json
{
    "name": "02_Validacion_Nombre",
    "nodes": [
        {
            "parameters": {
                "path": "validate-name",
                "responseMode": "lastNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "id": "webhook-trigger",
            "name": "Webhook"
        },
        {
            "parameters": {
                "jsCode": "// Validates name: not empty, no numbers/special chars (basic check)\n// Expects input: { \"name\": \"John Doe\" }\nconst name = $input.all()[0].json.name;\n\nlet isValid = false;\nlet message = \"Invalid name\";\n\n// Allow letters, spaces, hyphens, apostrophes\nconst regex = /^[a-zA-Z\\u00C0-\\u00FF '.-]+$/;\n\nif (name && name.length > 1 && regex.test(name)) {\n  isValid = true;\n  message = \"Valid name\";\n}\n\nreturn {\n  json: {\n    name,\n    isValid,\n    message\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                200,
                0
            ],
            "id": "validate-name-code",
            "name": "Validate Name"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                400,
                0
            ],
            "id": "respond-webhook",
            "name": "Respond to Webhook"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Validate Name",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Name": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}