22_Verificar_Crear_Lead.json
{
    "name": "22_Verificar_Crear_Lead",
    "nodes": [
        {
            "parameters": {
                "path": "check-lead",
                "responseMode": "lastNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "id": "webhook-trigger",
            "name": "Webhook"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT id FROM leads WHERE email = $1 AND document = $2 AND name = $3 AND surname = $4 LIMIT 1;",
                "additionalFields": {
                    "queryParams": "={{$json.email}},={{$json.document}},={{$json.name}},={{$json.surname}}"
                }
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 1,
            "position": [
                200,
                0
            ],
            "id": "check-exists",
            "name": "Check Existence"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{$items().length > 0}}",
                            "value2": true
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                400,
                0
            ],
            "id": "if-exists",
            "name": "If Exists"
        },
        {
            "parameters": {
                "operation": "insert",
                "schema": "public",
                "table": "leads",
                "columns": "name, surname, document, email",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 1,
            "position": [
                600,
                100
            ],
            "id": "create-lead",
            "name": "Create Lead"
        },
        {
            "parameters": {
                "content": "Lead already exists",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                600,
                -100
            ],
            "id": "respond-exists",
            "name": "Respond Exists"
        },
        {
            "parameters": {
                "content": "Lead created successfully",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                800,
                100
            ],
            "id": "respond-created",
            "name": "Respond Created"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Check Existence",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Existence": {
            "main": [
                [
                    {
                        "node": "If Exists",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Exists": {
            "main": [
                [
                    {
                        "node": "Respond Exists",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Create Lead",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Lead": {
            "main": [
                [
                    {
                        "node": "Respond Created",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}